<section id="about">
  <div class="mediabox">
    <img src="img/aerial.png" alt="Lake George" />
    <h3>Established 1925</h3>
    <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  </div>
  <div class="mediabox">
    <img src="img/aerial.png" alt="Lake George" />
    <h3>Established 1925</h3>
    <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  </div>
  <div class="mediabox">
    <img src="img/aerial.png" alt="Lake George" />
    <h3>Established 1925</h3>
    <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  </div>
  <div class="mediabox">
    <img src="img/aerial.png" alt="Lake George" />
    <h3>Established 1925</h3>
    <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  </div>
  <div class="mediabox">
    <img src="img/aerial.png" alt="Lake George" />
    <h3>Established 1925</h3>
    <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  </div>
  <div class="mediabox">
    <img src="img/aerial.png" alt="Lake George" />
    <h3>Established 1925</h3>
    <p>Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  </div>
</section>
