<section id="about">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="img/building-historic.jpg" style="width:100%">
      <div class="text">
        Lake George Grocery has been in the community for over 100 years.
      </div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="img/building-modern.jpg" style="width:100%">
      <div class="text">
        Pat has been running the store since she purchased it around 1985.
      </div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="img/aerial.jpg" style="width:100%">
      <div class="text">Aerial view of Lake George and Shingle Lake</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br />

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

</section>
