<section id="contact">
  <div class="map column">
    <a href="http://bit.ly/2pe0XGL" target="_blank"><img src="img/map.png" alt="Direction to Lake George, MI" /></a>

    <h3><a href="http://bit.ly/2pe0XGL" target="_blank">Lake George Grocery</a></h3>
    <address>304 Lake George Ave, Lake George, MI 48633</address>
    <p><a href="tel:+19895884709">(989) 588-4709</a></p>
  </div>

  <div class="info column">
    <h2>Directions to the Grocery</h2>
    <p>
      Lake George is a small town, with one main road going north and south.
      We're the green building located halfway down this road on the east side,
      just south of the railroad tracks.
    </p>
    <p>
      If you need directions to Lake George or our grocery,
      feel free to give us a ring: (989) 588-4709.
    </p>
  </div>
</section>
