<section id="drinks">
  <div class="hero">
    <h2>The best drink selection in Lake George</h2>
    <p>
      We carry the largest variety of beer in town! We know you craft-drinkers love your seasonal beers,
      so we've always got the latest batch from the best breweries in Michigan. We also have a large supply
      of the name brands and local favorites. Here are a few of the brands we keep stocked:
    </p>
  </div>

  <div class="mediabox">
    <img src="img/drinks-leinenkugels.jpg" alt="Leinenkugels Beer in Lake George" />
    <h3>Leinenkugel's</h3>
    <p>
      Did you know that Lienenkugel's is famous for it's mixed beers? Check out our <a href="/public/marketing/beer-mixology.png" target="_blank">Beer Mixology</a> for some of our favorite recipes!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/drinks-dark-horse.jpg" alt="Dark Horse Beer near Lake George" />
    <h3>Dark Horse</h3>
    <p>
      Lake George gets a lot of visitors from downstate so you bet your britches we stock beer from Dark Horse Brewery.
    </p>
  </div>
  <div class="mediabox">
    <img src="img/drinks-founders.jpg" alt="Lake George Grocery has Founders Beer" />
    <h3>Founders</h3>
    <p>
      Another Michigan favorite, Founders Brewing makes some of the best IPA's and stouts in the entire nation!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/drinks-saugatuck.jpg" alt="Lake George Grocery has Saugatuck Beer" />
    <h3>Saugatuck</h3>
    <p>
      Known for their unique flavors and ingredients, we always have at least one style of Saugatuck on the shelves.
    </p>
  </div>
  <div class="mediabox">
    <img src="img/drinks-bells.jpg" alt="Lake George Grocery has Saugatuck Beer" />
    <h3>Bell's</h3>
    <p>
      Two Hearted Ale, Oatsmobile and Oberon have to be some of the best beers ever made, and we've got them!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/drinks-classics.jpg" alt="Mikes, Smirnoff Ice, Busch, and more beer in Lake George" />
    <h3>Classic Beer and Drinks</h3>
    <p>
      Of course we carry all the classic drinks. From <a href="https://www.youtube.com/watch?v=AiFOPRJk65o" target="_blank">Smirnoff ICIng your bros</a> to the campfire shotgun beers, we've got you covered.
    </p>
  </div>
</section>
