<section id="food">
  <div class="mediabox">
    <img src="img/deep-fried-burger.jpg" alt="Deep Fried Burger" />
    <h3>Deep Fried Burger</h3>
    <p>
      Our signature burgers are a local favorite for a reason.
      With an outside crisp and juicy center, thse burgers are amazing!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/food-chicken.jpg" alt="Cooper's Chicken" />
    <h3>Chicken</h3>
    <p>
      We sell Cooper's Express Chicken. On a stick, as a strip or in a bowl.
      Whatever your preference, we've got it hot and fresh!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/food-family-meal.jpg" alt="Lake George Catering" />
    <h3>Family Meals</h3>
    <p>
      Having a party or need dinner for the family? We've got you covered with
      our family packs and can handle orders for parties of any size!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/food-sauces.jpg" alt="Fast Food" />
    <h3>Fast Food</h3>
    <p>
      We can make anything on our menu in a matter of minutes and ready to go.
      Call ahead or drop in and we'll have your food ready fast!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/food-sides.jpg" alt="Snack Food" />
    <h3>Snack Food and Sides</h3>
    <p>
      Looking for a quick bite or snack? We have lots of sides and finger food available.
      From fried pickels to mac and cheese, we'll satisfy your craving.
    </p>
  </div>
  <div class="mediabox">
    <img src="img/food-value-meal.jpg" alt="Value Meals and Lunch" />
    <h3>Value Meals and Lunches</h3>
    <p>
      Need a full belly on your lunch break? Don't settle for mediocre, get a well rounded value meal
      of chicken or try our signature deep fried burger!
    </p>
  </div>
  <div class="mediabox">
    <img src="img/food-meals.jpg" alt="Variety of food Options" />
    <h3>The Pete and Pat Variety</h3>
    <p>
      Pete loves to cook. Want to change it up and try something new? Give us a call and ask for Pete.
      He's a master at whipping up something new and tasty!
    </p>
  </div>
</section>
