<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="Lake George, Michigan Grocery Store" />
		<meta name="keywords" content="Lake George, Michigan, Grocery, store, shopping" />
		<meta name="author" content="Clay Unicorn <https://Unicorn.XXX>" />

		<link rel="alternate" type="application/rss+xml" title="Lake George MI Grocery" href="/feed.xml">

		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | prepend: site.baseurl }}" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
    <div class="container">
      <header class="header">
				<span>Lake George Michigan Grocery</span>
				<h1>A quaint store in a quaint town</h1>
			</header>
