.content {
  .info.column {
    @extend .two.third.column;
    float: left;
  }

  .map.column {
    @extend .one.third.column;
    float: right;

    img {
      border: 2px solid #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      display: block;
      margin: 0 -1.5rem;
      max-width: 100%;
      width: 100%;
    }
  }
}
