{% include header.html %}
      <div id="tabs" class="tabs">
				<nav>
					<ul>
						<li><a href="#about" class="icon-shop"><span>About</span></a></li>
						<li><a href="#drinks" class="icon-cup"><span>Drinks</span></a></li>
						<li><a href="#food" class="icon-food"><span>Food</span></a></li>
						<li><a href="#contact" class="icon-contact"><span>Contact</span></a></li>
						<li><a href="#delivery" class="icon-truck"><span>Delivery</span></a></li>
					</ul>
				</nav>
				<div class="content">
					{% include about.html %}
					{% include drinks.html %}
					{% include food.html %}
					{% include contact.html %}
					{% include delivery.html %}
				</div>
				<!-- /content -->
			</div>
			<!-- /tabs -->

{% include footer.html %}
